
body{
  background: #FAF3EB;
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: 'argesta_headlineregular';
  padding: 24px;
  margin: 0;
  box-sizing: border-box;
}
h1{
  font-size: 60px;
  font-weight: 300;
  color: #D88134;
  margin-block-end: auto;
  margin-block-start: auto;
}
p{
  font-size: 20px;
}
.content{
align-self: center;
text-align: center;
width:100%;
max-width: 720px;
}
@font-face {
    font-family: 'argesta_headlineregular';
    src: url('fonts/argestaheadline-regular-webfont.eot');
    src: url('fonts/argestaheadline-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/argestaheadline-regular-webfont.woff2') format('woff2'),
         url('fonts/argestaheadline-regular-webfont.woff') format('woff'),
         url('fonts/argestaheadline-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}