.content{
  font-size: 60;
/*  font-weight:300;*/
align-self: center;
text-align: center;
width:100%;
}
body{
  background: #FAF3EB;
  display: flex;
  font-family: 'argesta_headlineregular';
}
h1{
  font-size: 48px;
}
p{
  font-size: 16px;
}

@font-face {
    font-family: 'argesta_headlineregular';
    src: url('fonts/argestaheadline-regular-webfont.eot');
    src: url('fonts/argestaheadline-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/argestaheadline-regular-webfont.woff2') format('woff2'),
         url('fonts/argestaheadline-regular-webfont.woff') format('woff'),
         url('fonts/argestaheadline-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}